body{
  margin: 5px;
  background-color:rgb(232 232 232);
}

.flex{
  display:flex;
}

img{
  width: 100%
}

button{
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: rgb(200, 185, 185);
  cursor: pointer;
}

.top-navbar{
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  margin: 5px 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}

.product-card{

  border: 2px solid black;
  padding: 10px 10px;
}

.product-image{
  min-width: 40%;
  margin-right: 70px;
}

.product-card .product-image img {
  width: 100%;
  max-height: 500px;
  height: 100%;
}


.cart-section .product-image img {
  width: 100%;
  max-height: 200px;
  height: 100%;
}

.cart-header {
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;
}

.cart-items{
  max-height: 150px
}

/* ***************** */
.checkout-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.checkout-products {
  width: 60%;
}

.checkout-personal-info {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.form-field{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

input[type='text'],input[type='email']{
  height: 40px;
}


.total {
  margin-top: 20px;
  font-weight: bold;
}





.order-confirmation-container {
  text-align: center;
  margin: 20px;
}

.order-confirmation {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

/* ***************** */